@import "tailwindcss";
@import "tw-animate-css";
@import "@mb/ui-tokens/tailwind-theme.css";
@import "@mb/ui-tokens/themes/index.css";

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
