[data-theme-scale='xs'] {
  --size-control-height: 1.75rem;
  --size-header-height: 2.75rem;
  --size-sidebar-width: 13rem;
  --size-sidebar-width-collapsed: 3rem;
  --duration-fast: 100ms;
  --duration-normal: 180ms;
  --duration-slow: 300ms;
}

[data-theme-scale='lg'] {
  --size-control-height: 2.5rem;
  --size-header-height: 4rem;
  --size-sidebar-width: 18rem;
  --size-sidebar-width-collapsed: 4.5rem;
  --duration-fast: 180ms;
  --duration-normal: 280ms;
  --duration-slow: 450ms;
}

[data-theme-radius='none'] {
  --radius: 0rem;
  --radius-sm: 0rem;
  --radius-md: 0rem;
  --radius-lg: 0rem;
  --radius-xl: 0rem;
}

[data-theme-radius='sm'] {
  --radius: 0.3rem;
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

[data-theme-radius='md'] {
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 0.375rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
}

[data-theme-radius='lg'] {
  --radius: 1rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
}

[data-theme-radius='xl'] {
  --radius: 1.5rem;
  --radius-sm: 0.75rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
}

[data-theme-content-layout='centered'] .content-wrapper {
  max-width: var(--size-content-max-width);
  margin-inline: auto;
}
